<div class="encloser">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="header-container home">
          <header>
            <h1><strong>NAZO</strong></h1>
          </header>
        </div>
      </div>
      <div class="panel-body intro">
        <div class="buttons home-btns">
          <ul class="nav">
            <li>
              <button ng-click="play()" class="btn center-block">
                <span><i class="fa fa-gamepad"></i></span>
                </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
