@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

$body-bg: #52B8DE;

$link-hover-color: #f3f3f3;

$font-family-base: 'Open Sans', sans-serif;
$headings-color: #111;
$headings-font-family: Avenir, sans-serif;
$headings-font-weight: bold;

$time-color: #01945E;
$progression-color:;
$hint-color: #E0473D;

$tile-color: #fa0;
$field-width: 500px;
$grid-spacing: 3px;
$list-padding: 15px;
$grid-color: rgba(#000, .35);
$grid-row-cells: 10;
$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$mobile-threshold: $field-width + 20px;

$transition-speed: 100ms;

@import 'bootstrap/bootstrap';

body {
  padding-bottom: 20px;
}

em {
  font-style: normal;
  text-decoration: underline;
}

header, a {
  text-transform: uppercase;
}

a {
  cursor: pointer;
  @include transition(0.3s all ease-in-out);
  font-size: 18px;
}

button {
  @include transition(0.3s all ease-in-out);
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.encloser {
  margin-top: 40px;
}

.header-container {
  // overflow: auto;
  width: $field-width;
  margin: 0 auto;
  height: 80px;
  // border: 1px solid;
}

.panel-heading {
  height: 100px;
  header {
    // height:
    > h1 {
      // border: 1px solid;
      // width: 180px;
      font-size: 40px;
      height: 40px;
      position: relative;
      top: 5px;
      left: 15px;
      color: #555;
      text-shadow: 0px 2px 3px #e4e4e4;
      -webkit-background-clip: text;
         -moz-background-clip: text;
              background-clip: text;

      > span {
        position: relative;
        top:-3px;
        padding-right: 15px;
      }
    }
  }
}

.home {
  // border: 1px solid;
  > header {
    // border: 1px solid;
    > h1 {
      // border: 1px solid;
      // overflow
      font-size: 170px;

      margin: 0 auto;
      position: relative;
      top: -58px;
      left: 0;

      > span {
        top: -4px;
      }
    }
  }
}

.grid {
  // border: 1px solid red;
  width: $field-width;
  height: $field-width;
  margin: 5px auto 15px auto;
  position: relative;
  border-top: $grid-spacing solid $grid-color;
  z-index: 2;
  // padding: $grid-spacing;
}

.grid-row {
  // height: 10%;
  background: $grid-color;
  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.grid-cell {
  float: left;
  width: $tile-size;
  height: $tile-size;
  margin-right: $grid-spacing;
  margin-bottom: $grid-spacing;
  background: #f3f3f3;
  text-align: center;

  &:first-child {
    margin-left: $grid-spacing;
  }

  &:last-child {
    margin-right: 0;
  }
}

.block {
  transition: 0.3s all ease-in-out;
  height: $tile-size;
  > span {
    font-size: 35px;
    margin: 0 auto;
    position: relative;
    // color: #555;
    // right: 50%;
    top: 5px;
    // left: 4px;
    // 3: 0 auto;
  }
}

.time-container {
  // border: $grid-spacing solid $grid-color;
  width: $field-width;
  margin: 0px auto;
  height: 50px;
}

.game-container {
  position: relative;
  height: 700px;
}

.bar {
  // margin: 0 auto;
  width: 90%;
  height: 40px;
  float: right;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;

  &:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f017";
    font-size: 30px;
    left: -50px;
    position: relative;
    color: #555;
    top: -10px;
  }

  > span {
    display: block;
    height: 100%;
    @include transition(.4s ease-in);
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $time-color;
    position: relative;
    top: -42px;
    overflow: hidden;
  }
}

.score-container {
  width: 20%;
  padding: 20px;
  position: relative;
  top: 2px;
  text-align: right;
  font-size: 30px;
  color: #555;
}

.buttons {

  ul {
    > li {
      > a {
        padding: 20px;
        font-size: 20px;
        border-radius: 5px;
      }
    }
  }
}

.home-btns {
  margin-top: 30px;
  margin-bottom: 25px;
  ul {
    > li {
      padding-bottom: $grid-spacing;
      > button {
        color: #f3f3f3;
      }
      &:first-child {

        > .btn {
          width: $field-width;
          height: $field-width;
          background: darken($tile-color, 5%);

          > span {
            position: relative;
            font-size: 200px;
            top:-($field-width / 4.5);
            transition: all .9s;
          }


          &:before {
            content: "PLAY";
            font-family:$font-family-base;
            font-weight: bold;
            position: relative;
            display: block;
            font-size: 120px;
            top: 40px;
            visibility: hidden;
            z-index:0
          }

          &:hover {
            color: #f3f3f3;
            background: $tile-color;
            span {
              top: -($field-width / 8);
            }

            &:before {
              visibility: visible;
              z-index:2;
            }
          }
        }
      }
    }
  }
}

.game-buttons {
  width: $field-width;
  margin: 0 auto;
  > {
    ul {
      > li {
        display: inline-block;
        width: 33.3%;
        padding-right: 15px;
        text-align: center;

        > button {
          padding: 20px;
          font-size: 20px;

          &:focus {
            outline: 0;
          }
        }

        &:first-child {
          .btn {
            background: $time-color;
            color: #f3f3f3;

            &:hover {
              background: darken($time-color, 5%);
            }
          }
        }
        &:nth-child(2) {
          .btn {
            background: $hint-color;
            color: #f3f3f3;
            &:hover {
              background: darken($hint-color, 5%);
            }
          }
        }
        &:last-child {
          padding-right: 0;
          .btn {
            background: rgba(#000, 0.7);
            color: #f3f3f3;
            &:hover {
              background: darken(rgba(#000, 0.9), 5%);
            }
          }
        }
      }
    }
  }
}


.sub {
  font-size: 10px;
  font-family: $font-family-base;
  font-weight: bold;
  position: relative;
  top:-3px;
  left: 5px;
}

.selected {
  cursor: pointer;
  background: darken(rgba(blue,0.3),100%);
  color: white;
}

.follow {
  background: $tile-color;
}

.score {
  color: $tile-color;
}

.hint {
  background: $hint-color;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(#000, 0.3);
  z-index: 3;
 }

.overlay article {
  position: relative;
  margin: 100px auto 0px auto;
  width: $field-width/1.5;
  height: $field-width/1.3;
  background: #e4e4e4;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

  > span {
    color: #555;
    font-size: 110px;
  }
}

.end-stmt {
  color: #555;
}

.clickable {
  cursor: pointer;

  &:hover{
    background: $body-bg;
    color: white;
  }
}

.continue-buttons {
  margin-top: 25px;
  > ul {
    > li {
      padding-bottom: $list-padding;
      a {
        color: #f3f3f3;
      }
      &:first-child {
        a {
          background: orange;
          &:hover {
            background: lighten(orange, 5%);
          }
        }
      }

      &:last-child {
        a {
          background: rgba(#000, 0.7);
          &:hover {
            background: darken(rgba(#000, 0.9), 5%);
          }
        }
      }
    }
  }
}
